<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Caballetes</a></li>
  <li class="active">Caballete Multiuso</li>
</ol>

<div class="page-header">
  <h1>Caballete Multiuso <small>Hidráulico</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/cab-multiuso.jpg" width="70%" />
</span>

<hr />

<h2>Altura normal: 43cm</h2>
<h2>Altura extendido: 50cm</h2>

<h2>Detalles Constructivos
	<br>
	<small>Tubos SIN CONSTURA (Norma ASTM A53)</small>
	<br>
	<small>Piezas DE ACERO</small>
</h2>



 <p><a  href="#contacto" class="btn">Cotizar</a></p>			