<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Cubetas</a></li>
  <li class="active">Cubetas de Goma</li>
</ol>

<div class="page-header">
  <h1>Cubetas de Goma <small>Cubetas Hidráulicas</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/cub-goma.jpg" width="70%" />
</span>

<hr />

<h2>Medidas: desde 9mm hasta 61mm</h2>

<h2>Cubeta doble ala</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>