<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Cubetas</a></li>
  <li class="active">Cubetas de Cuero</li>
</ol>

<div class="page-header">
  <h1>Cubetas de Cuero <small>Cubetas Hidráulicas</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/cub-cuero.jpg" width="70%" />
</span>

<hr />

<h2>Medidas: desde 16mm hasta 330mm
	<br>
	<small>Consultar medidas especiales</small>
</h2>

<h2>Características:
	<br>
	<small>Cuero curtido al CROMO</small>
	<br>
	<small>Vida útil SUPERIOR</small>
	<br>
	<small>Ideal para Criques y Prensas Hidráulicas, Cilindros de Camiones Volcadores, entre otros.</small>
</h2>


 <p><a  href="#contacto" class="btn">Cotizar</a></p>						