<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Expansores Hidráulicos</a></li>
  <li class="active">Modelo Standard</li>
</ol>

<div class="page-header">
  <h1>Modelo Standard <small>Expansor Hidráulico</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/exp-hid-modelo-standard.jpg" width="70%" />
</span>

<hr />

<h2>10 toneladas - 40 piezas </h2>

<!--<h2>Detalles Constructivos
  <br>
  <small>Tubos SIN CONSTURA (Norma ASTM A53)</small>
  <br>
  <small>Piezas DE ACERO</small>
</h2>-->

<h2>Ofrecemos Productos de alta calidad y duración:
  <br>
  <small>Cilindros a partir de una pieza maciza de Acero 1045 apto forja, rectificados para un funcionamiento óptimo.</small>
  <br>
  <small>Tubos SIN CONSTURA (Norma ASTM A53)</small>
  <br>
  <small>Bombas Inyectoras de Alta Precisión tipo inyectores Diesel (no utiliza ni Cubetas ni O-ring).</small>
</h2>

<p>1. Cofre de Chapa / 2. Unidad Hidráulica  / 3. Tapón Protector de Rosca / 4. Protector de Rosca para Cilindro / 5. Apoyo para Ángulo 90º / 6. Base Rectangular con Movimiento de Círculo / 7. Uñas Sargento Grande / 8. Uña Semicírculo / 9. Uña Registrable hasta 180º / 10. Acople de Sargento / 11. Pata de Cabra / 12. Uña Cuerno / 13 y 17. Uñas Sargento Chicas / 14. Base Chica / 15. Uña Puente / 16. Base Grande / 18 y 19. Uñas Espátulas para Abrir Elásticos / 20. Bocha de Goma Grande 100 mm de Diámetro / 21. Bocha de Goma Chica 70 mm de Diámetro / 22. Pasadores de Acero para Sargento de 9,5 mm / 23. Cuplas de Acero de 1 1/4” / 24 al 33. Tubos de Acero sin Costura / 34. Palanca</p>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>