<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Prensas Hidraulicas</a></li>
  <li class="active">Prensa Hidráulica de Banco</li>
</ol>

<div class="page-header">
  <h1>Prensa Hidráulica de Banco <small>Prensa Hidráulica</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/pre-hid-banco.jpg" width="70%" />
</span>

<hr />

<h2>5 toneladas</h2>
<h2>Alto: 660mm</h2>
<h2>Ancho: 500mm</h2>
<h2>Peso: 30kg</h2>
<h2>Recorrido Pistón: 140mm</h2>
<h2>Mesa de Trabajo Útil: 400mm</h2>

<h2>Detalles 
	<br>
	<small>Construida con Hierro U de 60mm</small>
	<br>
</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>				