<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Prensas Hidrlaulicas</a></li>
  <li class="active">Prensa Hidráulica de Pie</li>
</ol>

<div class="page-header">
  <h1>Prensa Hidráulica de Pie <small>Prensa Hidráulica</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/pre-hid-pie.jpg" width="70%" />
</span>

<hr />

<h2>5 toneladas</h2>
<h2>Alto: 1540mm</h2>
<h2>Ancho: 450mm</h2>
<h2>Peso: 47kg</h2>
<h2>Recorrido Pistón: 140mm</h2>
<h2>Mesa de Trabajo Útil: 350mm</h2>

<h2>Detalles 
	<br>
	<small>Construida con Hierro U de 60mm</small>
	<br>
</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>		