<div class="page-header">
  <h1>Contáctenos</h1>
</div>

<div class="alert" ng-class="hasError ? 'alert-danger' : 'alert-success'" ng-show="showAlertMessage" role="alert">{{alertMessage}}</div>

<form class="well" ng-submit="processForm()">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Por favor, ingrese su nombre" ng-model="formData.name">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Por favor, ingrese su dirección de correo electrónico" ng-model="formData.email">
  </div>
  <div class="form-group">
    <label for="message">Mensaje</label>
    <textarea class="form-control" id="message" rows="3" placeholder="Por favor, escriba aquí sus comentarios" ng-model="formData.message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
</form>
