<div id="slider">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src="images/slider-1.jpg" alt="Trayectoria y confianza">
              <div class="carousel-caption">
                  <h3>Trayectoria y confianza</h3>
                  <p>Somos una empresa familiar con más de 40 años en el mercado.</p>
                  <p><strong>Conozca nuestra Fábrica.</strong></p>
                  <p><a class="read-more" href="#/#nosotros">Sobre Nosotros</a></p>
              </div>
          </div>
          <div class="item">
              <img src="images/slider-2.jpg" alt="División Goma/Goma Metal">
              <div class="carousel-caption">
                  <h3>División Goma/Goma Metal</h3>
                  <p>Realizamos piezas de todo tipo a partir de planos, conjugando Precio y Calidad.</p>
                  <p><a class="read-more" href="catalogos/GOMA-GOMA_METAL-Indugom-IHB-2015.pdf" download="GOMA-GOMA METAL-Indugom-IHB-2015-v02">Descargar Catálogo</a></p>
              </div>
          </div>
          <div class="item">
              <img src="images/slider-3.jpg" alt="División Hidráulicos">
              <div class="carousel-caption">
                  <h3>División Hidráulicos</h3>
                  <p>Construimos Productos a partir del Hierro. Versátiles y resistentes.</p>
                  <p><strong>Venta de Piezas por separado.</strong></p>
                  <p><a class="read-more" href="catalogos/HIDRAULICOS-Indugom-SRL-IHB.pdf" download="HIDRÁULICOS-Indugom-SRL-IHB">Descargar Catálogo</a></p>
              </div>
          </div>
          <div class="item">
              <img src="images/slider-5.jpg" alt="Accesorios Hidráulicos">
              <div class="carousel-caption">
                  <h3>Venta de Accesorios</h3>
                  <p>Proveemos Piezas de Expansores y Equipos Hidráulicos por separado.</p>
                  <p><strong>Para armar a medida o como repuestos.</strong></p>
                  <p><a class="read-more" href="#contacto">Cotizar</a></p>
              </div>
          </div>
          <div class="item">
              <img src="images/slider-4.jpg" alt="Cubetas de Cuero al Cromo">
              <div class="carousel-caption">
                  <h3>Cubetas de Cuero al Cromo</h3>
                  <p>Vida útil superior.</p>
                  <p>Tamaños: desde 16 mm hasta 330 mm de diámetro.</p>
                  <p><strong>Consultar medidas especiales.</strong></p>
                  <p><a class="read-more" href="catalogos/Cubetas-Cuero-Goma-Indugom-IHB.pdf" download="Cubetas-Cuero-Goma-Indugom-IHB">Descargar Catálogo</a></p>
              </div>
          </div>
          <div class="item">
              <img src="images/slider-6.jpg" alt="Realice su Pedido o Presupuesto">
              <div class="carousel-caption">
                  <h3>Realice su Pedido o Presupuesto</h3>
                  <p>Contáctenos a través de nuestro formulario de contacto. Enviamos a todo el país.</p>
                  <h2 style="text-align: left">Consulte por Envíos al Exterior</h2>
                  <p><a class="read-more" href="#contacto">Contacto</a></p>
              </div>
          </div>
      </div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>
  </div>
</div>

<hr />

<section id="highlights">
  <div class="row">
      <div class="col-md-4">
          <h2 class="text-center">Quiénes Somos</h2>
          <p class="text-justify">Somos una Empresa familiar con más de 45 años de experiencia y trayectoria en la fabricación de expansores hidráulicos y moldeos de goma y goma metal.</p>
      </div>
      <div class="col-md-4">
          <h2 class="text-center">Qué Hacemos</h2>
          <p class="text-justify">Fabricamos expansores, equipos hidráulicos, cubetas de cuero y piezas de goma y goma metal a pedido para todo tipo de Industria.</p>
      </div>
      <div class="col-md-4">
          <h2 class="text-center">Dónde Estamos</h2>
          <p class="text-justify">Nuestra fábrica está ubicada en el Parque Industrial de la ciudad de San Francisco, Córdoba, Argentina (calle Santiago Pampiglione 4443), ocupando una superficie cubierta operativa de 1000 metros cuadrados.</p>
      </div>
  </div>
</section>

<hr />

<section id="products">
  <a name="productos"></a>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <h2 class="text-center">Buscador de Productos</h2>

      <v-accordion>
        <v-pane ng-repeat="category in categories" expanded="$first">
          <v-pane-header>
            {{category.name}}
          </v-pane-header>

          <v-pane-content>
            <v-accordion ng-if="category.subcategories">
              <v-pane ng-repeat="subcategory in category.subcategories">
                <v-pane-header>
                  {{subcategory.name}}
                </v-pane-header>

                <v-pane-content>
                  <v-accordion ng-if="subcategory.products">
                      <v-pane ng-repeat="product in subcategory.products">
                        <v-pane-header data-product-id="{{product.id}}" ng-click="expand(product.id)" >
                          {{product.name}}
                        </v-pane-header>
                        <v-pane-content></v-pane-content>
                      </v-pane>
                    </v-accordion>
                </v-pane-content>
              </v-pane>
            </v-accordion>
          </v-pane-content>
        </v-pane>
      </v-accordion>
    </div>

    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div id="detalle-producto">
      <div id="expanded-product">
        <p style="text-align: center; padding-top: 80px;">Seleccione un producto...</p>   
      </div>
    </div>
    </div>
</section>

<hr />

<section id="about">
  <a name="nosotros"></a>
  <h1>Nosotros</h1>
  <p>Hidráulicos IHB fue fundada por Remo José Bovio en el año 1968 en la ciudad de San Francisco, Córdoba, Argentina, siendo su principal actividad la fabricación y venta de expansores y accesorios hidráulicos para abastecer al mercado local y nacional.</p>
  <p>A los pocos años, en 1977, se creó la empresa Indugom S.R.L. dedicada a la producción de piezas de goma y goma-metal para todo tipo de industrias,  siendo la primera fábrica del ramo en la ciudad.</p>
  <p>Sus ansias de expansión dieron frutos en el año 2000 al instalarse en la calle Santiago Pampiglione 4443 del Parque Industrial de San Francisco en un espacio físico de 1000 metros cuadrados, donde en la actualidad se concentran el área de producción y las oficinas administrativas abiertas al público.</p>
  <p>Con la integridad, la lealtad y la honestidad como valores inculcados por su fundador, Indugom SRL • Hidráulicos IHB es hoy una empresa familiar dirigida por sus hijos Jorge, Carlos y Gabriela, que lleva más de 45 años de experiencia y trayectoria en la Industria Metalúrgica y Automotriz.</p>
  <p>Su compromiso con la calidad, la perseverancia y el conocimiento adquirido a través de los años y de generaciones explican la permanencia en el tiempo y la capacidad para adaptarse a mercados, necesidades y circunstancias cumpliendo casi medio siglo de trabajo ininterrumpido.
  </p>
</section>

<hr />

<section id="catalogs">
  <a name="catalogos"></a>
  <div class="row">
      <div class="col-md-4">
          <h2 class="text-center">Catálogo Goma/Goma Metal</h2>
          <p><a href="catalogos/GOMA-GOMA_METAL-Indugom-IHB-2015.pdf" download="GOMA-GOMA METAL-Indugom-IHB-2015-v02"><img src="images/catalogo-goma.png" width="100%" /></a></p>
      </div>
      <div class="col-md-4">
          <h2 class="text-center">Catálogo Hidráulicos</h2>
          <p><a href="catalogos/HIDRAULICOS-Indugom-SRL-IHB.pdf" download="HIDRÁULICOS-Indugom-SRL-IHB" ><img src="images/catalogo-hidraulicos.png" width="100%" /></a></p>
      </div>
      <div class="col-md-4">
          <h2 class="text-center">Catálogo Cubetas</h2>
          <p><a href="catalogos/Cubetas-Cuero-Goma-Indugom-IHB.pdf" download="Cubetas-Cuero-Goma-Indugom-IHB" ><img src="images/catalogo-cubetas.png" width="100%" /></a></p>
      </div>
  </div>
</section>
