// Base (structural) styles
v-accordion {
  display: block;

  v-pane {
    display: block;

    &.is-expanded > v-pane-content > div {
      visibility: visible;
    }

    v-pane-header {
      display: block;
      position: relative;
      cursor: pointer;
      .user-select(none);
      outline: none;

      &:focus {
        outline: none;
      }

      &[disabled] {
        pointer-events: none;
      }

      & > div {
        display: block;
      }
    }

    v-pane-content {
      display: block;
      position: relative;
      overflow: hidden;
      max-height: 0;

      & > div {
        visibility: none;
      }
    }
  }
}

// Colors and Appearance
v-accordion {
  v-pane {
    v-pane-header {
      background-color: @color-accordion-first-level;
      color: @color-white;
      padding: 10px;
    }

    v-pane {
      v-pane-header {
        background-color: @color-accordion-second-level;
      }

      v-pane {
        v-pane-header {
          background-color: @color-accordion-third-level;
        }
      }
    }
  }
}

// Animations
v-accordion v-pane {
  .transition(transform 0.5s);
}

v-accordion v-pane.is-expanded > v-pane-header::after {
  opacity: 0;
  .rotate(90deg);
}

v-accordion v-pane.is-expanded > v-pane-header::before {
  .rotate(0deg);
}

v-accordion v-pane.is-expanded > v-pane-content > div {
  opacity: 1;
  .translate3d(0, 0, 0);
}

v-accordion v-pane.is-expanded-add > v-pane-content,
v-accordion v-pane.is-expanded-remove > v-pane-content {
  .transition(max-height 0.5s);
}

v-accordion v-pane-header {
  border-bottom: 1px solid @color-white;
  .transition(color 0.25s);
}

v-accordion v-pane-header::after,
v-accordion v-pane-header::before {
  background-color: @color-white;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 1px;
  .transform-origin(50 50);
  .transition(all 0.25s);
}

v-accordion v-pane-header::before {
  .rotate(-90deg);
}

v-accordion v-pane-content > div {
  will-change: transform, opacity;
  opacity: 0;
  .translate3d(0, 30px, 0);
  .transition(transform 0.5s, opacity 0.5s);
}
