////Estilo para boton solo
.btn {
      background-color: @color-accordion-second-level;  
      font-family: @font-brand;    
      font-size: 18px;
      color: white;
      padding: 12px 20px;
      display: inline-block;
      border-radius: 5px;
      text-align: justify;
      }

   .btn a { text-decoration: none; }

   .btn:hover 
   {
        background-color: @color-brand-secondary;
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;
        color: white;
    }    
////////////////////////////////////


body {
  background: #fafafa;
  font-family: @font-main;
  color: @color-text;
  font-size: @font-size-base;
  padding-top: 70px;
}

header .menu, footer h2, h2, .nav.navbar-nav {
  text-transform: uppercase;
  font-weight: normal;
  font-family: @font-brand;
}

h2 {
  font-size: 24px;
}

header {
  position: relative;

  a {
    color: #000;

    &:hover {
      color: #000;
    }
  }

  .logo {
    padding: 10px;
    text-align: center;

    .ihb {
      width: 30%;
    }

    .indugom {
        width: 68%;
    }
  }

  .menu {
    display: none;

    ul.nav.nav-pills {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;

      li {
        float: right;
      }

      li.active {
        a {
          background-color: @color-brand-primary;
        }
      }
    }
  }
}

section {
  padding: 10px 0;
}

#slider {
  display: none;

  .carousel-caption {
    background-color: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;

    h3 {
      text-align: left;
      font-size: 32px;
      text-transform: uppercase;
      font-family: @font-brand;
      margin-top: 0;
    }

    p {
      text-align: justify;
    }

    .read-more {
      background-color: @color-accordion-second-level;
      font-family: @font-brand;
      font-size: 18px;
      color: @color-white;
      padding: 12px 20px;
      display: inline-block;
      .border-radius(5px);

      &:hover {
        background-color: @color-brand-secondary;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .carousel-indicators {
    position: static;
    width: 100%;
    padding: 6px;
    margin: 0;
    background-color: @color-brand-secondary;

    li {
      width: 16px;
      height: 16px;
      border: 3px solid @color-white;
      margin: 0 0 -3px 0;

      &.active {
        background-color: @color-brand-primary;
      }
    }
  }
}

footer {
  background-color: @color-brand-primary;
  color: white;

  .left {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 18px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {

      a {

        display: block;
        padding: 7px;

        &:link {
          text-decoration: none;
          color: @color-white;
        }

        &:visited, &:hover, &:active {
          background-color: @color-brand-secondary;
          border-radius: 3px;
          text-decoration: none;
          color: @color-white;
        }
      }
    }
  }

  .social, .invoice, .products, .about, .logo {
    text-align: center;
  }

  .social, .invoice {
    font-size: 30px;
  }

  .logo {
    display: none;
  }

  .social {
    a {
      text-decoration: none;
      color: @color-white;
    }
  }

  .copyright {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    color: @color-white;
    background-color: #222;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;

    a {
      color: @color-white;
      text-decoration: none;
      border-bottom: 1px dotted @color-white;

      &:hover {
        border-bottom: 0;
      }
    }
  }
}

@sm: {
  .navbar-brand {
    display: none;
  }

  #slider {
    display: block;

    .carousel-caption {
      display: none;
    }
  }

  footer {
    .logo {
      display: block;

      img {
        width: 50%;
      }

      .contact-info {
        display: none;
      }
    }
  }
};

@md: {
  body {
    padding-top: 0;
  }

  nav.navbar {
    display: none;
  }

  #slider {
    .carousel-caption {
      display: block;
      padding: 20px;
      width: 40%;
    }
  }

  header {
    .menu {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      min-height: 100%;
    }
  }

  footer {
    .logo {
      padding-top: 20px;

      img {
        width: 100%;
      }

      .contact-info {
        display: block;
        padding: 10px;
        font-size: 0.75*@font-size-base;

        ul {
          list-style-type: none;

          li {
            padding: 1px;
            display: block;
          }
        }
      }
    }
  }
};

@lg: {
  #slider {
    .carousel-caption {
      padding: 30px;
      width: 33%;
    }
  }
};

.mediaQueries(@sm, @md, @lg);

.zoom {
  display: inline-block;
  position: relative;
}
/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block;
  width:33px;
  height:33px;
  position:absolute;
  top:0;
  right:0;
  background:url(icon.png);
}
.zoom img {
  display: block;
}
.zoom img::selection { background-color: transparent; }
