.mediaQueries(@sm, @md, @lg) {
  // Extra small devices (phones, less than 768px)
  // No media query since this is the default in Bootstrap

  // Small devices (tablets, 768px and up)
  @media (min-width: @screen-sm) {
	 @sm();
  }

  // Medium devices (desktops, 992px and up)
  @media (min-width: @screen-md) {
	 @md();
  }

  // Large devices (large desktops, 1200px and up)
  @media (min-width: @screen-lg) {
	 @lg();
  }
}