// Brand font
@font-main: "Helvetica Neue", Helvetica, Arial, sans-serif; // Myriad pro?
@font-brand: Impact, sans-serif;
@color-text: #333;
@font-size-base: 14px;

// Brand colors
@color-brand-primary: #00378A;
@color-brand-secondary: #E65020;
@color-brand-accent: green; // Change this
@color-white: #fff;

// Social colors
@color-social-facebook: #3b5998;
@color-social-twitter: #2ca9e1;
@color-social-linkedin: #0073b2;
@color-social-google-plus: #cd1d1f;
@color-social-share: #4caf50;

// Accordion colors
@color-accordion-first-level: @color-brand-primary;
@color-accordion-second-level: #5075A1;
@color-accordion-third-level: #739DC7;
@color-accordion-fourth-level: #aef;

// Breakpoints
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1200px;