<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Goma/Goma Metal</a></li>
  <li><a >Artículos Varios</a></li>
  <li class="active">Émbolo para Máquina Estercolera</li>
</ol>

<div class="page-header">
  <h1>Émbolo para Máquina Estercolera <small>Artículos Varios</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/art-var-embolo.jpg" width="70%" />
</span>

<hr />

<h2>Piezas realizadas a pedido bajo plano. Realizamos cotización de Matricería</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>