<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Goma/Goma Metal</a></li>
  <li><a >Artículos varios</a></li>
  <li class="active">Moño Amortiguador</li>
</ol>

<div class="page-header">
  <h1>Moño Amortiguador <small>Artículos Varios</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/art-var-mono-amortiguador.jpg" width="70%" />
</span>

<hr />

<h2>Marca: Scania</h2>

<h2>Piezas realizadas a pedido bajo plano. Realizamos cotización de Matricería</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>						