<head lang="es">
  <title>Indugom SRL - Hidráulicos IHB</title>

  <meta name="author" content="Inalta"/>
  <meta property="og:title" content="Título que yo quiera"/>
  <meta property="og:description" content="Acá iría una descripción"/>
  <meta property="og:image" content="http://inalta.com.ar/Clientes/Indugom/images/art-var-cubeta-cilindro2.jpg"/>
  <meta http-equiv="refresh" content="0;url='http://inalta.com.ar/Clientes/Indugom/#/art_var_cubeta_cilindro'">
</head>

<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Goma/Goma Metal</a></li>
  <li><a >Artículos Varios</a></li>
  <li class="active">Cubeta de Cilindro Hidráulico</li>
</ol>

<div class="page-header">
  <h1>Cubeta de Cilindro Hidráulico <small>Artículos Varios</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/art-var-cubeta-cilindro.jpg" width="70%" />
</span>

<hr />

<h2>Piezas realizadas a pedido bajo plano. Realizamos cotización de Matricería</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a> &nbsp;

 <a href="/art_var_cubeta_cilindro" class="btn" target="_blank">Abrir en una pestaña aparte</a></p>