<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Cilindros Hidráulicos</a></li>
  <li class="active">Cilindro Hidráulico Pesado</li>
</ol>

<div class="page-header">
  <h1>Cilindro Hidráulico Pesado <small>Cilindro Hidráulico</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/cil-hid-pesado.jpg" width="70%" />
</span>

<hr />

<h2>30 toneladas</h2>
<h2>Largo cerrado: 355mm</h2>
<h2>Recorrido: 145mm</h2>

<h2>Detalles Constructivos
	<br>
	<small>Equipos Hidráulicos totalmente desarmables.</small>
	<br>
	<small>Incluyen Bomba Inyectora de ALTA PRECISIÓN (no lleva sopapas).</small>
</h2>

<h2>Ofrecemos Productos de alta calidad y duración:
  <br>
  <small>Cilindros a partir de una pieza maciza de Acero 1045 apto forja, rectificados para un funcionamiento óptimo.</small>
</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>
