<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Equipos Hidráulicos</a></li>
  <li class="active">Bomba Inyectora 30tn</li>
</ol>

<div class="page-header">
  <h1>Bomba Inyectora 30tn <small>Equipo Hidráulico</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/eq-hid-bomba-inyectora30.jpg" width="70%" />
</span>

<hr />

<h2>30 toneladas</h2>

<h2>Manguera de 1500mm</h2>

<h2>Ofrecemos Productos de alta calidad y duración:
  <br>
  <small>Cilindros a partir de una pieza maciza de Acero 1045 apto forja, rectificados para un funcionamiento óptimo.</small>
  <br>
  <small>Bombas Inyectoras de Alta Precisión tipo inyectores Diesel (no utiliza ni Cubetas ni O-ring).</small>
</h2>

<h2>EQUIPOS HIDRÁULICOS TOTALMENTE DESARMABLES</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>