<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Equipos Hidráulicos</a></li>
  <li class="active">Bomba Inyectora de 10 tn + Cilindro Corto</li>
</ol>

<div class="page-header">
  <h1>Bomba Inyectora de 10 tn + Cilindro Corto <small>Equipo Hidráulico</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/eq-hid-bomba10-cil-corto.jpg" width="70%" />
</span>

<hr />

<h2>Bomba Inyectora:
  <br>
  <small>10 toneladas.</small>
  <br>
  <small>Manguera de 1300mm.</small>
</h2>

<h2>Cilindro Hidráulico Standard:
  <br>
  <small>10 toneladas.</small>
  <br>
  <small>Largo cerrado: 250mm.</small>
  <br>
  <small>Recorrido: 95mm.</small>
</h2>

<h2>Detalles Constructivos:
  <br>
  <small>Equipos Hidráulicos totalmente desarmables.</small>
  <br>
  <small>Incluyen Bomba Inyectora de Alta Precisión (no lleva sopapas).</small>
</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>