<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Expansores Hidráulicos</a></li>
  <li class="active">Modelo Pesado</li>
</ol>

<div class="page-header">
  <h1>Modelo Pesado <small>Expansor Hidráulico</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/exp-hid-modelo-pesado.jpg" width="70%" />
</span>

<hr />

<h2>30 toneladas - 28 piezas - CAMIONES Y COLECTIVOS </h2>

<!--<h2>Detalles Constructivos
  <br>
  <small>Tubos SIN CONSTURA (Norma ASTM A53)</small>
  <br>
  <small>Piezas DE ACERO</small>
</h2>-->

<h2>Ofrecemos Productos de alta calidad y duración:
  <br>
  <small>Cilindros a partir de una pieza maciza de Acero 1045 apto forja, rectificados para un funcionamiento óptimo.</small>
  <br>
  <small>Tubos SIN CONSTURA (Norma ASTM A53)</small>
  <br>
  <small>Bombas Inyectoras de Alta Precisión tipo inyectores Diesel (no utiliza ni Cubetas ni O-ring).</small>
</h2>

<p>34. Palanca / 47. Cofre de Chapa / 48. Equipo Hidráulico / 49. Protector de Rosca / 50. Protector de Rosca Cilindro / 51. Base Grande / 52. Cuplas de Acero / 53. Cadena, 3000 mm / 54. Tubo Acero, 750 mm / 55. Tubo Acero, 500 mm / 56. Tubo Acero, 400 mm / 57. Tubo Acero, 300 mm / 58. Tubo Acero, 200 mm / 59. Tubo Acero, 150 mm / 60. Tira Cadena / 61. Uña para Abrir Elásticos Reforzada / 61 bis. Uña Chica para Abrir Elásticos / 62. Uñas Sargento Chicas / 63. Uñas Pata de Cabra / 64. Uñas Sargento Grande 65. Base Chica</p>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>