<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Goma/Goma Metal</a></li>
  <li><a >Gomas - Amortiguador</a></li>
  <li class="active">Almohadilla Scania</li>
</ol>

<div class="page-header">
  <h1>Almohadilla Scania <small>Gomas - Amortiguador</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/gom-mar-almohadilla-scania.jpg" width="70%" />
</span>

<hr />

<h2>N° 5011748 </h2>

<h2>Marca: Scania</h2>

<h2>Piezas realizadas a pedido bajo plano. Realizamos cotización de Matricería</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>