<script src='js/jquery.zoom.js'></script>
<script>
        $(document).ready(function(){
          $('#ex1').zoom();    
        });
</script>

<ol class="breadcrumb">
  <li><a >Hidráulicos</a></li>
  <li><a >Pestañadora</a></li>
  <li class="active">Pestañadora Dobladora Manual de Banco</li>
</ol>

<div class="page-header">
  <h1>Pestañadora Dobladora Manual de Banco <small>Hidráulico</small></h1>
</div>

<span class='zoom' id='ex1'>		
<img src="images/products/hid-pestanadora-dobladora-manual.jpg" width="70%" />
</span>

<hr />

<h2>Altura: 640mm</h2>
<h2>Ancho Máximo de Plegado: 400mm</h2>
<h2>Espesor Máximo Chapa a Doblar: 1mm</h2>

<h2>Detalles 
	<br>
	<small>Construida con caño conformado de 100mm x 100mm x 5mm de Espesor</small>
	<br>
	<small>Pliega en REDONDO</small>
	<br>
	<small>Pliega en ÁNGULO RECTO</small>
	<br>
	<small>Sistema de Doblado POR CREMALLERA</small>
</h2>

 <p><a  href="#contacto" class="btn">Cotizar</a></p>	